<%# Note: Not final look %>
<% if category.tasks.count > 0 %>
    <div class="flex flex-col col-span-1 items-center justify-start h-full w-full">
        <%# <h3 class="text-xl font-bold w-5/6 text-center bg-yellow-50 m-4">
            Tasks
        </h3> %>

        <% category.tasks.order(:priority).each do |task| %>

            <%= link_to task.title, category_task_path(category, task), class: task.completed? ? "flex justify-center items-center w-full h-16 nav-inactive text-xl text-green-400 hover:text-green-200" : "flex justify-center items-center w-full h-16 nav-inactive text-xl", remote: true%>
        
        <% end %>
    
    </div>

    <div id="task-view" class="flex flex-col items-center justify-start col-span-3 w-full h-full bg-yellow-50">

        <%= render "tasks/show", task: category.tasks.first %>

    </div>
<% end %>


