<%# If user is signed in %>
<% if user_signed_in? %>

    <% if @tasks.count > 0 %>

    <h1 class="page-header">Daily Tasks</h1>

    <div class="grid grid-cols-4 flex-row container w-3/4 h-96 items-center justify-items-center bg-gray-800 mt-8 px-2 py-2">

        <div class="flex flex-col col-span-1 items-center justify-start h-full w-full">

            <% @tasks.each do |task| %>

                <% @category = current_user.categories.find(task.category_id) %>

                <%= link_to task.title, category_task_path(@category, task), remote: true, class: task.completed? ? "flex justify-center items-center w-full h-16 nav-inactive text-xl text-green-400 hover:text-green-200" : "flex justify-center items-center w-full h-16 nav-inactive text-xl" %>

            <% end %>
        </div>

        <div id="task-view" class="flex flex-col items-center justify-start col-span-3 w-full h-full bg-yellow-50">

            <%= render "tasks/show", task: @tasks.first %>

        </div>
    
    </div>

    <% else %>

    <h1 class="text-5xl py-64">You have no tasks for today adventurer!</h1>

    <% end %>

<%# If user is not signed in %>
<% else %>
    <h1 class="text-5xl py-64">Make every chore an Adventure!</h1>
<% end %>