<%# If user is signed in %>
<% if user_signed_in? %>

    <div class="grid grid-cols-4 flex-row container w-full h-96 py-4 items-center justify-items-center bg-yellow-600">

        <div class="flex flex-col col-span-1 items-center justify-start h-full">
            <h3 class="text-xl font-bold w-5/6 text-center bg-yellow-50 m-4">
                Tasks
            </h3>

            <% @tasks.each do |task| %>

                <% @category = current_user.categories.find(task.category_id) %>

                <%= link_to task.title, category_task_path(@category, task), remote: true, class: "btn m-4 text-center w-5/6 bg-green-400 text-white" %>

            <% end %>
        </div>

        <div id="task-view" class="flex flex-col items-center justify-start col-span-3 w-5/6 h-5/6 bg-yellow-50">

            <%= render "tasks/show", task: @tasks.first %>

        </div>
    
    </div>

<%# If user is not signed in %>
<% else %>
<div data-controller="hello">
    <button class="btn btn-primary bg-green-700" data-action="click->hello#greet" >Say Hello</button>
    <h1 data-target="hello.heading">This is the home page</h1>
</div>
<% end %>