<div class="w-full flex flex-col items-center">
    <%= render "partials/errors", page: @task%>
</div>

<h1 class="page-header">Edit Task</h1>

<div class="form-container">

    <div class="form-div">
        <%= form_with model: [@category, @task], class: "form", local: true do |f| %>
            <%= render "form", f: f %>
        <% end %>
    </div>

</div>