<div class="w-full flex flex-col align-center">
    <%= render "partials/alert", page: @category%>
</div>

<div class="container grid grid-cols-3 gap-6 px-24 py-16">

    <div class="col-span-2">
        <%# Insert flash picture or words here %>
    </div>

    <div class="col-span-1 bg-yellow-50 shadow-lg">
        <%= form_with scope: :category, model: @category, class: "flex flex-col px-4 py-4", local: true do |f| %>
            <%= render "form", f: f %>
        <% end %>
    </div>

</div>