<div class="w-full flex flex-col items-center">
    <%= render "partials/errors", page: @category%>
</div>

<h1 class="page-header">New Category</h1>

<%= link_to "Go Back", categories_path, class: " relative btn btn-info right-1/4 mt-4" %>

<div class="form-container">

    <div class="form-div">
        <%= form_with scope: :category, model: @category, class: "form", local: true do |f| %>
            <%= render "form", f: f %>
        <% end %>
    </div>

</div>