<!DOCTYPE html>
<html>
  <head>
    <%= render "partials/head" %>
  </head>

  <body>
    <%= render "partials/navbar" %>

    <% if notice || alert %>
      <%= render "partials/alerts" %>
    <% end %>

    <%= yield %>
  </body>
</html>
